.git
.turbo
**/.terraform
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example
.next
**/.next
**/node_modules
node_modules
coverage
.lighthouseci
test-results
playwright-report
ops/secrets
var
.env
.env.*
!.env.example
!.env.production.example
